.suggestions {
  width: 260px;
  background: #ffffff;
  color: rgb(145, 2, 2);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 16px;
}

.suggestions h3 {
  margin-bottom: 12px;
  font-size: 16px;
  text-align: center;
}

.suggestion-btn {
  background: #940505;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  transition: background 0.2s;
  overflow-y: auto;
}

.suggestion-btn:hover {
  background: #8d8d8d;
  color: #ffffff;
}
.chat-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
