/* Container da tela inicial */
.start-container {
  background: linear-gradient(
    135deg,
   #F5F5F5
  );
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}



/* Logo IndexIA */
.titulo {
  font-size: 80px;
  margin: 0;
  color: #E31E24;
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  align-items: top;
  position:absolute;
  top: 50px;
  left: 580;
  font-weight: bold;
  

}

/* Palavra Index */
.index {
  opacity: 0;
  animation: indexAppear 1.2s ease-out forwards;
}

/* Palavra IA */
.ia {
  opacity: 0;
  margin-left: 4px;
  animation: iaSlideIn 1.2s ease-out forwards;
  animation-delay: 0.8s;
  color:#4D4D4D;
}


/* Animações */
@keyframes indexAppear {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes iaSlideIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }

  
}
