.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #96b4ff;
  font-family: "Inter", Arial, sans-serif;
}

/* TÍTULO */
.chat-title {
  text-align: center;
  padding: 12px 0;
  color: #d30f0f;
  font-size: 24px;
  flex-shrink: 0;
}

/* ÁREA DO CHAT */
.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

/* WRAPPER DAS MENSAGENS */
.chat-box .message {
  max-width: 70%;
  padding: 12px 16px;
  border-radius: 18px;
  font-size: 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

/* USUÁRIO */
.chat-box .message.user {
  align-self: flex-end;
  background: #0738da;
  color: white;
}

/* BOT */
.chat-box .message.bot {
  align-self: flex-start;
  background: #817f7f;
  color: white;
}

/* INPUT FIXO NO FUNDO */
.input-area {
  display: flex;
  gap: 10px;
  padding: 12px;
  background: #0c0c0c;
  flex-shrink: 0;
}

/* INPUT */
.chat-input {
  flex: 1;
  padding: 14px 18px;
  border-radius: 999px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* BOTÃO */
.send-button {
  padding: 0 22px;
  border-radius: 999px;
  background: #c70f0f;
  color: white;
  border: none;
  cursor: pointer;
}

/* ANIMAÇÃO SUAVE */
@keyframes messageIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
